<%= render "users/header_user" %>
<div class="main account-main" role="main">
  <div class="wrap clearfix">
    <div class="content clearfix">
      <nav role="navigation" class="breadcrumbs clearfix">
        <ul class="crumbs">
          <h2 class="title-account">
            <%= t "view.workspace.workspace_name" %>
          </h2>
        </ul>
      </nav>
      <section class="three-fourth">
        <%= render "layouts/nav_menu" %>
        <section id="workspace" class="tab-content" >
          <article class="mysettings">
            <h1><%= t "view.user.workspaces" %>
              <button type="button" class="btn btn-default btn-sm btn-addroom"
                data-toggle="modal" data-target="#add-room" >
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <%= t "view.room.add_room" %>
              </button>
            </h1>
            <div class="alert-update-user"></div>
            <table>
              <tbody>
                <%= render "add_room" %>
                <tr>
                  <th><%= t "view.workspace.name" %> </th>
                  <td>
                    <span id="full-name-user"><%= @workspace.name %></span>
                  </td>
                  <td>
                  </td>
                </tr>
                <tr>
                  <th> <%= t "view.workspace.descript" %> </th>
                  <td>
                    <span id="full-name-user"> <%= @workspace.descript %></span>
                    <div class="edit_field" id="edit-descript-workspace" >
                      <label for="new_name">
                        <%= t "view.workspace.new_workspace_descript" %>
                      </label>
                      <input type="text" value="<%= @workspace.descript %>">
                      <button class="btn-save-workspace-descript btn btn-success"
                        data-workspace-id="<%= @workspace.id %>">
                        <%= t "view.app.save" %>
                      </button>
                    </div>
                  </td>
                  <td><a href="#edit-descript-workspace" class="gradient-button edit">
                    <%= t "view.user.edit" %></a>
                  </td>
                </tr>
                <tr>
                  <th><%= t "view.room.rooom" %></th>
                  <td>
                    <%= render partial: "load_room", collection: @rooms, as: :room %>
                  </td>
                  <td>
                  </td>
                </tr>
                 <tr>
                  <th> <%= t "view.workspace.personnel" %> </th>
                  <td>
                    <span id="full-name-user">
                      <%= @workspace.manager_workspaces.size %>
                    </span>
                  </td>
                  <td class="manager-user-td">
                    <span ><%= link_to "Manager personnel",
                       users_path(workspace_id: @workspace.id),
                       data: {turbolinks: false}, class: "manager-user-a" %>
                    </span>
                  </td>
                </tr>
                <tr>
                  <th> <%= t "view.workspace.manager" %> </th>
                  <td>
                    <span id="full-name-manager">
                      <%= render partial: "load_manager_workspace",
                        collection: @manager_workspaces, as: :manager_workspace,
                        locals: { workspace: @workspace} %>
                    </span>
                  </td>
                 <td class="manager-user-td">
                    <button type="button" class="btn btn-default btn-sm btn-addmanager"
                      data-toggle="modal" data-target="#add-manager" >
                      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                      <%= t "view.workspace.add_manager" %>
                    </button>
                       <!-- Modal -->
                      <div id="add-manager" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title title-addmanager">
                                <%= t "view.workspace.add_manager" %></h4>
                            </div>
                            <div class="modal-body">
                              <div class="form-group">
                                <div class="input-group">
                                  <label><%= t "view.workspace.find_personnel" %>
                                  </label>
                                </div>
                                <%= select_tag "user_id",
                                  options_for_select(@users_manger.
                                  collect{|u| [u.user_full_name, u.user_id ]}),
                                  class: "select-form form-control " %>
                                <input type="button" name=""
                                  value="<%= t "view.app.add"%>"
                                  class="gradient-button btn-addmanager"
                                  id="add-manager-select"
                                  data-workspace-id= "<%= @workspace.id %>">
                              </div>
                              <%= render "employee/add_employee_form", employee: @employee %>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default"
                                data-dismiss="modal">
                                <%= t "view.app.close" %>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </article>
        </section>
      </section>
    </div>
  </div>
</div>
<%= render "layouts/footer" %>
