<%= render "users/header_user" %>
<div class="main account-main" role="main">
  <div class="wrap clearfix">
    <div class="content clearfix">
      <nav role="navigation" class="breadcrumbs clearfix">
        <ul class="crumbs">
          <h2 class="title-account">
            <%= t "view.user.all_personnel" %>
          </h2>
        </ul>
      </nav>
      <section class="three-fourth">
        <%= render "layouts/nav_menu" %>
        <section id="Workspaces" class="tab-content">
          <article class="bookings">
            <h1> <%= t "view.user.all_personnel_workspace" %>
            <%= (load_workspace params[:workspace_id]).
              name if load_workspace params[:workspace_id] %></h1>
            <% flash.each do |message_type, message| %>
              <div class="alert alert-<%= message_type %>"><%= message %></div>
            <% end %>
            <%= form_tag imports_path, multipart: true do %>
              <%= file_field_tag :file, class: "form-control" %>
              <%= submit_tag t("view.user.add_personnel"),
                class: "gradient-button add-employee"%>
            <% end %>
            <table>
              <tr>
                <th>
                  <%= t "view.user.full_name" %>
                </th>
                <th><%= t "view.user.email" %></th>
                <th><%= t "view.user.position" %> </th>
                <th><%= t "view.app.action" %></th>
              </tr>
              <tbody id="t-boby-user">
                <%= render partial: "load_user", collection: @users,
                  as: :user_of_workspace %>
              </tbody>
            </table>
            <%= paginate @users %>
          </article>
        </section>
      </section>
    </div>
  </div>
</div>
<%= render "layouts/footer" %>
