<p><%= t("view.index.hello") %><%= @resource.email %>!</p>

<p><%= t("view.index.confirm_change_pass") %></p>

<p><%= link_to t("view.index.change_my_pass"), edit_password_url(@resource,
  reset_password_token: @token) %></p>

<p><%= t("view.index.ignore_change_pass") %></p>
<p><%= t("view.index.ignore_change_pass_") %></p>
