<footer>
  <div class="wrap clearfix">
    <article class="one-fourth">
      <h3><%= t "view.footer.title_colum1" %></h3>
      <p><%= t "view.footer.infor_colum1" %></p>
      <p><%= t "view.footer.support_colum1" %> </p>
      <p><a href="#" >
      <%= t "view.footer.email_colum1" %></a></p>
    </article>
    <article class="one-fourth">
      <h3><%= t "view.footer.title_colum2" %></h3>
      <ul>
        <li><a href="#" >
          <%= t "view.footer.infor_colum2" %></a></li>
        <li><a href="#" ><%= t "view.footer.phone_colum2" %>
          </a></li>
      </ul>
    </article>
    <article class="one-fourth">
      <h3><%= t "view.footer.title_colum3" %></h3>
      <ul>
        <li><a href="#" ><%= t "view.footer.infor_colum3" %></a></li>
      </ul>
    </article>
    <article class="one-fourth last">
      <h3><%= t "view.footer.title_colum4" %></h3>
      <ul>
        <li><a href="#" ><%= t "view.footer.infor_colum4" %></a></li>
      </ul>
    </article>
    <section class="bottom">
      <p class="copy"><%= t "view.footer.more_branch" %></p>
      <nav>
        <ul>
          <li><a href="#" >
            <%= t "view.footer.framgia_bangladesh"%></a></li>
          <li><a href="contact.html" ><%= t "view.footer.framgia_holding" %></a></li>
          <li><a href="#" ><%= t "view.footer.framgia_japan" %></a></li>
          <li><a href="#" ><%= t "view.footer.framgia_philip" %></a></li>
          <li><a href="#" ><%= t "view.footer.framgia_cambodia" %></a></li>
        </ul>
      </nav>
    </section>
  </div>
</footer>
